<!DOCTYPE html>
<html>
    <head>
        <title>Add book</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
        
            body {
                font-family: "Courier New";
            }

        </style>
    </head>
    <body>
        <form action="{% url 'books_add' %}" method="post">{% csrf_token %}
            Title: <input type="text" name="title" id="title"><br>
            Author: <input type="text" name="author" id="author"><br>
            ISBN: <input type="text" name="isbn" id="isbn"><br>
            Number of pages: <input type="text" name="pages" id="pages"><br>

            <input type="submit" value="Save" />
        </form>
    </body>
</html>