{% extends "books_portal/base.html" %}

{% load widget_tweaks %}
{% load books_extras %}

{% block title %}Добави книжка{% endblock %}

{% block extracss %}
<style>
    .top-buffer { margin-top:20px; }
    .bs-docs-nav { background-color: #563d7c; }
</style>
{% endblock extracss %}

{% block content %}
        <form action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
            <div class="row top-buffer">
                <div class="col-md-1">
                    {{form.title.label_tag}}
                </div>
                <div class="col-md-2">
                    {{form.title|addcss:"form-control"}}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-1">
                    {{form.author.label_tag}}
                </div>
                <div class="col-md-2">
                    {{form.author|addcss:"form-control"}}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-1">
                    {{form.isbn.label_tag}}
                </div>
                <div class="col-md-2">
                    {{form.isbn|addcss:"form-control"}}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-1">
                    {{form.pages.label_tag}}
                </div>
                <div class="col-md-2">
                    {{form.pages|addcss:"form-control"}}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-2 col-md-offset-1">
                    <input type="submit" value="Save" class="btn btn-primary btn-lg"/>
                </div>
            </div>
        </form>
{% endblock %}