<!DOCTYPE html>
<html>
    <head>
        <title>Add book</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
        
            body {
                font-family: "Courier New";
            }

        </style>
    </head>
    <body>
        <div>
            Title: <input type="text" name="title"><br>
            Author: <input type="text" name="author"><br>
            ISBN: <input type="text" name="isbn"><br>
            Number of pages: <input type="text" name="pages"><br>

            <a href="http://www.google.com/">
                <input type="button" value="Save" />
            </a>
        </div>
    </body>
</html>