<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{title|default:"Система за книжки"}}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css">
        {% block extracss %}{% endblock extracss %}
    </head>
    <body>
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'books_portal' %}" class="navbar-brand">Books Portal</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse bs-docs-nav" role="navigation">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="{% url 'books_add' %}">ADD</a>
                </li>
              </ul>
            </nav>

            {% block content %}
            {% endblock %}
        </div>

        <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
        {% block extrajs %}{% endblock extrajs %}
    </body>
</html>