{% extends "books_portal/base.html" %}

{% load widget_tweaks %}

{% block title %}Подробна информация{% endblock %}

{% block extracss %}
<style>
    .top-buffer { margin-top:20px; }
    .bs-docs-nav { background-color: #4CD085; }
</style>
{% endblock extracss %}

{% block content %}
         <div class="row top-buffer">
                <div class="col-md-1">
                    <strong>Title:</strong>
                </div>
                <div class="col-md-2">
                    {{books.title}}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-1">
                    <strong>Author:</strong>
                </div>
                <div class="col-md-2">
                    {{books.author}}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-1">
                    <strong>ISBN:</strong>
                </div>
                <div class="col-md-2">
                    {{books.isbn}}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-1">
                    <strong>Number of pages:</strong>
                </div>
                <div class="col-md-2">
                    {{books.pages}}
                </div>
            </div>
            <div class="row top-buffer">
                </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-1 text-center"><a href="{% url 'books_portal' %}" class="btn btn-primary btn-lg">OK</a></div>
        </div>
{% endblock %}