<!DOCTYPE html>
<html>
    <head>
        <title>Detail book</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
        
            body {
                font-family: "Courier New";
            }

        </style>
    </head>
    <body>
        <p>
        Title:{{ book.title }}
        </p>
        <p>
        Author:{{ book.author }}
        </p>
        <p>
        ISBN:{{ book.isbn }}
        </p>

        <a href="{% url 'books_portal_books' %}">
            <input type="button" value="OK" />
        </a>
    </body>
</html>