<!DOCTYPE html>
<html>
    <head>
        <title>Detail book</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
        
            body {
                font-family: "Courier New";
            }

        </style>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Pages</th>
            </tr>
            <tr>
                <td>{{ books.title }}</td>
                <td>{{ books.author }}</td>
                <td>{{ books.isbn }}</td>
                <td>{{ books.pages }}</td>
            </tr>
        </table>
        <a href="{% url 'books_portal' %}">
            <input type="button" value="OK" />
        </a>
    </body>
</html>