<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
        
            body {
                font-family: "Courier New";
            }

        </style>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
            {% for book in books_list %}
            <tr>
                <td><a href="{% url 'books_details' pk=book.id%}">{{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td><a href="{% url 'books_edit' pk=book.id%}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>

        <a href="{% url 'books_add' %}">
            <input type="button" value="add" />
        </a>
    </body>
</html>