{% extends "books_portal/base.html" %}

{% block title %}Списъци със книжки{% endblock %}

{% block extracss %}
<style>
    .top-buffer { margin-top:20px; }
    .bs-docs-nav { background-color: #563d7c; }
</style>
{% endblock extracss %}

{% block content %}
    <table class="table table table-hover">
        <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Author</th>
            <th class="text-center">Edit</th>
        </tr>
        {% for book in books_list %}
        <tr>
            <td class="text-center"><a href="{% url 'books_details' pk=book.id%}">{{ book.title }}</a></td>
            <td class="text-center">{{ book.author }}</td>
            <td class="text-center"><a href="{% url 'books_edit' pk=book.id%}" class="btn btn-default">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    <div class="row">
        <div class="col-md-2 col-md-offset-5 text-center"><a href="{% url 'books_add' %}" class="btn btn-primary btn-lg">Add</a></div>
    </div>
{% endblock %}
